body{
    margin:0px;
    padding:0px;
    font-family: 'Quicksand', sans-serif;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

main, header{
    padding-left: 20px;
    padding-right: 20px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

a:link{
    color:#BE2F29;
}

a:visited{
    color:#1A2C42;
}

a:hover{
   color:#ECAF44;
}

a:active{
    color:#0C1115;
}

.Project_Picture{
    width: 90%;
    height: 90%;
}

#Profile_Picture{
    width: 200px;
    height: auto;
}

header a {
    text-decoration: none;
    padding-right: 10px;
}

nav{
    float:right;
    padding-top: 15px;
}

h1{
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 0px;
    color:#1A2C42;
}

h2{
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 50px;
    color:#BE2F29;
}

main h1{
    margin-left:45px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.Granda{
    position: relative;
    text-align:center;
    Color:white;
}

.GrandaText{
    position: absolute;
    Top: 40%;
    left:10%;
    font-size: 3em;
    pointer-events: none;
}

#Granda_Five{
    grid-area: ImageOne;
    justify-self: center;
    -webkit-filter: grayscale(0);
    -webkit-transition: all .5s ease-in-out;
}

#Granda_Five:hover{
    -webkit-filter: grayscale(0.7);
    -webkit-transform: scale(1.1);
}

.BEWM{
    position: relative;
    text-align:center;
    Color:white;
}

.BEWMText{
    position: absolute;
    top: 40%;
    left:10%;
    font-size: 3em;
    pointer-events: none;
}

#Blue_Eyes_White_Magician{
    grid-area: ImageTwo;
    justify-self: center;
    -webkit-filter: grayscale(0);
    -webkit-transition: all .5s ease-in-out;
}

#Blue_Eyes_White_Magician:hover{
    -webkit-filter: grayscale(0.7);
    -webkit-transform: scale(1.1);
}

.MTG{
    position: relative;
    text-align:center;
    Color:white;
}

.MTGText{
    position: absolute;
    top: 40%;
    left:10%;
    font-size: 3em;
    pointer-events: none;
}

#Magic_Card_Finder{
    grid-area: ImageThree;
    justify-self: center;
    -webkit-filter: grayscale(0);
    -webkit-transition: all .5s ease-in-out;
}

#Magic_Card_Finder:hover{
    -webkit-filter: grayscale(0.7);
    -webkit-transform: scale(1.1);
}

.Sun_Runner{
    position: relative;
    text-align:center;
    Color:white;
}

.Sun_Runner_Text{
    position: absolute;
    top: 40%;
    left:10%;
    font-size: 3em;
    pointer-events: none;
}

#Sun_Runner{
    grid-area: ImageFour;
    justify-self: center;
    -webkit-filter: grayscale(0);
    -webkit-transition: all .5s ease-in-out;
}

#Sun_Runner:hover{
    -webkit-filter: grayscale(0.7);
    -webkit-transform: scale(1.1);
}

.Protein_Protector{
    position: relative;
    text-align:center;
    Color:white;
}

.Protein_Protector_Text{
    position: absolute;
    top: 30%;
    left:10%;
    font-size: 3em;
    pointer-events: none;
}

#Protein_Protector{
    grid-area:ImageFive;
    justify-self: center;
    max-height: 70%;
    max-width: auto;
    -webkit-filter: grayscale(0);
    -webkit-transition: all .5s ease-in-out;
}

#Protein_Protector:hover{
    -webkit-filter: grayscale(0.7);
    -webkit-transform: scale(1.1);
}

#Projects{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    grid-template-areas: 
    "ImageOne ImageTwo"
    "ImageThree ImageFour"
    "ImageFive ImageSix";
    row-gap: 20px;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0C1115;
    color:#ECAF44;
    box-shadow: 0 50vh 0 50vh #0C1115;
    text-align: center;
}

footer img{
    width: 25px;
    height: auto;
    padding-right: 10px;
    padding-bottom: 5px;
}